<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Start New List</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists">Lists</a></li>
            </ul>
        </nav>
        <div class="main-container">
        <!-- form should take you to index.ejs -->
        <form action="/lists" method="POST">
            Name Your List <input type="text" name="list-name"/><br>
            <input type="submit" value="Create New List"/>
        </form>
        </div>

    </body>
</html>
