<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Busy Bee Home</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <div class="container">
            <div class="title">
                <h1>New To-Do</h1>
            </div>

                <nav id="nav-new">
                    <ul>
                        <li><a href="/lists">Home</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="list-name">
        <!-- form should take you to index.ejs -->
        <form action="/lists" method="POST">
            What do you need to get done? <input type="text" name="listName"/><br>
            <input type="submit" class="updateBtn" value="Create New To-Do"/>
        </form>
        </div>

    </body>
</html>
