<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Show</title>
    </head>
    <body>
        <h1><%=list.title%></h1>
        <p><%=list.details%></p>
        <nav>
            <a href="/lists">Back to Main</a>
            <a href="/lists/:id/edit">Edit</a>
        </nav>
    </body>
</html>
