<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>List</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists"></a>Lists</li>
                <li><a href="/edit">Edit</a></li>
            </ul>
        </nav>
        <h1><%=list.name%></h1>

    </body>
</html>
