<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Item</title>
    </head>
    <body>
        <h1>Edit Items</h1>
        <h2><%=item.toDoItem%></h2>
        <form action="/items/<%=item._id%>?_method=PUT" method="POST">
            To-Do Item: <input type="text" name="toDoItem" value="<%=item.toDoItem%>"/><br>
            Details: <input type="textarea" name="details" value="<%=item.details%>"/><br>
            Complete: <input type="checkbox" name="complete"
                        <% if(item.complete === true){ %>
                            checked
                        <% } %>
                      />
            <input type="submit" value="Submit Changes"/>
        </form>

        <nav>
            <ul>
					<li>
						<a href="/lists">lists</a>
					</li>
				</ul>
        </nav>
    </body>
</html>
