<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Show</title>
    </head>
    <body>
        <h1><%=item.toDoItem%></h1>
        <h2><%=item.toDoItem%></h2>
        <p><%=item.details%></p>
        <nav>
            <a href="/items">Back to Main</a>
            <a href="/items/:id/edit">Edit</a>
        </nav>
    </body>
</html>
